.main {
  overflow-x: hidden;

  &--default,
  &--out {
    @extend %row;
  }

  &--out {
    animation: opacityAnimation 0.5s ease-out;
    animation-fill-mode: both;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    max-width: $universal-medium-container;
    margin: 0 auto;
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    max-width: $universal-large-container;
  }

  &--hidden {
    display: none;
  }

  &__item {
    @extend %col-sm-12;
    padding: $universal-padding;

    @media screen and (min-width: 568px) {
      max-width: 75%;
      flex-basis: 75%;
      margin: auto;
    }
  }

  &__footer {
    @media screen and (min-width: $grid-exsmall-breakpoint) {
      position: fixed;
      bottom: 0;
    }

    @media screen and (min-width: $grid-small-breakpoint) {
      position: relative;
    }

    // @media screen and (min-width: $grid-medium-breakpoint) {
    //   position: fixed;
    //   bottom: 0;
    // }

    // @media screen and (min-width: 900px) {
    //   left: calc(50% - 450px);
    // }
  }

  &--post,
  &--post-out {
    padding: $universal-padding;
    @extend %column;
    margin-top: #{$universal-margin * 2};

    @media screen and (min-width: $grid-medium-breakpoint) {
      max-width: $universal-medium-container;
      flex-flow: row wrap;
      margin-top: #{$universal-margin * 5};
      justify-content: space-between;
    }

    @media screen and (min-width: $grid-large-breakpoint) {
      max-width: $universal-large-container;
    }
  }
  // &--post-out {
  //   opacity: 0;
  // }
}

.main-title {
  @extend %column;
  align-items: center;
  width: 100%;
  position: relative;
  padding-top: #{$universal-padding * 3};

  @media screen and (min-width: $grid-medium-breakpoint) {
    position: absolute;
    bottom: 0;
    left: 25%;
  }

  @media screen and (min-width: 900px) {
    left: 20%;
  }

  &:after {
    content: '';
    height: 1px;
    width: 45%;
    background-color: $blue400;
    position: absolute;
    top: calc(#{$universal-padding * 3} + 10px);
    left: 0;

    @media screen and (min-width: $grid-medium-breakpoint) {
      top: calc(#{$universal-padding * 3} + 20px);
      left: 9%;
    }

    @media screen and (min-width: 900px) {
      left: 8%;
    }
  }

  &__h1 {
    font-size: $font-size-l;
    text-transform: uppercase;
    color: $red400;
    line-height: 26px;
    letter-spacing: 0.05em;
    // padding-left: calc(5 * #{$universal-padding});
    margin-top: 1.5rem;
    position: relative;

    &:before {
      content: 'Русский Силомер';
      font: #{$font-size-xs * 0.8} 'RussoOne-Regular', sans-serif;
      height: 0.5rem;
      width: 100%;
      position: absolute;
      top: -1.5rem;
      color: $blue400;

      @media screen and (min-width: $grid-medium-breakpoint) {
        font-size: #{$font-size-sm * 1.25};
        line-height: 14px;
      }
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: $font-size-xl;
      line-height: 36px;
    }
  }

  &__second-part {
    display: block;
    font-size: #{$font-size-l * 0.9};
    padding-left: calc(4 * #{$universal-padding});
    line-height: 21px;

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: #{$font-size-l * 1.2};
      line-height: 30px;
    }
  }
}
