.form-title {
  font-size: $font-size-l;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white300;
  padding: 0 0 #{$universal-padding * 5} 0;
}

.calculator-form {
    @extend %column;
    height: 100%;
    display: none;
    padding: #{$universal-padding * 2} 0 0;

    &--showIn {
      animation: fadeInRight .3s ease-in-out;
      display: flex;
    }

    &__text-label, &__birdtday-title {
      font-size: #{$font-size-sm * 1.2};
      @extend %col-sm-12;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      padding: 0 #{$universal-padding * 2} #{$universal-padding * 1};
    }

    &__text-field, &__day-field, &__month-field, &__year-field {
      background-color: transparent;
      border: 1px solid $white300;
      border-radius: $font-size-m;
      color: $white300;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      max-height: 60px;
      margin-bottom:  #{$universal-margin * 2};
      outline: none;

      &:not(.field--error):hover, &:not(.field--error):focus {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
      }
      &.field--error {
        border: 1px solid $red600;
        box-shadow: 0px 0px 6px 0px rgba(210, 31, 31, 0.75);
        margin-bottom: #{$universal-margin * .5};
      }
    }


    &__text-field {
      font-size: #{$font-size-sm * 1.2};
      @extend %col-sm-12;
      padding: #{$universal-padding * 1.5} #{$universal-padding * 2};
    }

    &__birdtday-wrapper {
      @extend %col-sm-12;
      @extend %row;
      align-items: center;
      justify-content: space-between;
    }

    &__day-field, &__month-field {
      @extend %col-sm-2;
      padding: #{$universal-padding * 1.5} #{$universal-padding * 1};
      text-align: center;
    }

    &__year-field {
      @extend %col-sm-4;
      padding: #{$universal-padding * 1.5} #{$universal-padding * 1};
      text-align: center;
    }

    &__sex-wrapper {
      @extend %row;
      align-items: center;
      margin-bottom:  #{$universal-margin * 2};
      padding: #{$universal-padding * 2} 0 0;
    }
    &__sex-title {
      font-size: #{$font-size-sm * 1.2};
      @extend %col-sm-2;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      padding: #{$universal-padding * 1} #{$universal-padding * 1} 0 #{$universal-padding * .5};
    }

    &__sex-label {
      font-size: #{$font-size-sm * 1.2};
      @extend %col-sm-2;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      position: relative;
      padding: #{$universal-padding * 1} 0 0 #{$universal-padding * 3.5};
      cursor: pointer;

      &--active:before {
        content: '';
        position: absolute;
        top: calc(50% - 8px + #{$universal-padding * .5});
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $white300;
      }

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 12px + #{$universal-padding * .5});
        left: -4px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $white300;
      }

      &:hover:after, &:hover:focus {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
      }
    }

    &__sex-input {
      display: none;
    }

    &__setPerson-buttons {
      @extend %col-sm-12;
      @extend %row;
      align-items: center;
      justify-content: space-between;
      padding: 0 #{$universal-padding * 2};
    }

    &__setPerson-accept, &__setPerson-decline {
      font-size: $font-size-xl;
      background-color: transparent;
      border: 1px solid $white300;
      color: $white300;
      max-width: 140px;
      @extend %col-sm-5;
      text-align: center;
      line-height: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      border-radius: $font-size-m;
      padding: #{$universal-padding * .5} 0;
      cursor: pointer;
      max-height: 60px;
      outline: none;


      &:disabled {
        opacity: .6;
      }

      &:not(:disabled):hover, &:not(:disabled):focus {
        border: 1px solid $red600;
        color: $red600;
      }

      &:not(:disabled):hover path, &:not(:disabled):focus path{
        fill: $red600;
      }
    }

    &__setPerson-accept path, &__setPerson-decline path {
      fill: $white300;
    }

    &__error-message {
      font-size: $font-size-sm;
      // @extend %col-sm-12;
      width: auto;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: none;
      color: $white300;
      padding: 0 #{$universal-padding * 2} #{$universal-padding * 1};
      margin-bottom: #{$universal-margin * 1.5};
      animation: fadeInRight .2s ease;
    }
}
