.calculator-settings {
  @extend %col-sm-12;
  padding: 0 #{$universal-padding * 1};
  margin: 0 #{$universal-margin * 3} #{$universal-margin * 4};
  display: none;

  &--show {
    display: block;
  }

  &__title {
    font-size: $font-size-l;
    color: $white300;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 #{$universal-padding * 2};
    display: none;
  }

  &--show &__title {
    animation: fadeInLeft .3s ease-out;
    display: block;
  }

  &__view-control {
    @extend %column;
    display: none;
  }

  &--show &__view-control {
    animation: fadeInDown .3s ease-out;
    display: flex;
  }


  &__wrapper {
    @extend %row;
    @extend %col-sm-12;
    padding: #{$universal-padding * 1} 0;
    margin: 0 0 #{$universal-margin * 2};
  }

  &__label {
    font-size: $font-size-m;
    color: $white400;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: #{$universal-padding * 3};
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: #{$universal-padding * (-1)};
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid $white400;
    }

    &:hover:before , &:focus:before  {
      box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    }

    &--active {
      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: -4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $white300;
      }
    }
  }

  &__input {
    display: none;
  }

  &__error {

    font-size: $font-size-m;
    color: $red600;
    
    &--show {
      animation: fadeInLeft .3s ease-in-out;
    }

    &--hidden {
      animation: fadeOutRight .3s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}