# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

#old calculator
Calculator-v1.js
Calculator-v1.scss
CalculatorHeaderButtons-v1.js
CalculatorHeaderButtons-v1.scss
CalculatorButtons-v1.js
CalculatorButtons-v1.scss
CalculatorStart-v1.js
CalculatorStart-v1.scss

#old page title
Post_title_v1.js
Post_title_v1.scss

#old search field
Search_v1.js
Calendar_v1.scss
Search_v1.scss

#old geolocation
GeoLocations-v1.js

#old novosti
index-novosti-old.js
News-old.js
News-old.scss

#old events
Meropriyatiya_tabs_v1.js
Meropriyatiya_item_v1.js
Tabs_v1.scss
Meropriyatiya_tabs_v1.scss