.account {
  background-color: transparent;
  z-index: 100;

  @media screen and (min-width: $grid-medium-breakpoint) {
    max-width: 400px;
    height: 100%;
    overflow-y: hidden;
  }

  &__background-cover {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;

    &::after {
      content: '';
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, #000000 83.85%);
      z-index: -1;
    }
  }

  &__image {
    height: 100vh;
    position: absolute;
    top: 0;
    left: -120%;
    object-fit: cover;
    z-index: -20;

    @media screen and (min-width: $grid-exmedium-breakpoint) {
      left: -50%;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      left: 0;
      width: 100%;
    }
  }

  &__blue-rectangele {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    clip-path: polygon(50% 0, 100% 0, 40% 100%, 0% 100%);
    background: linear-gradient(
      211.31deg,
      rgba(51, 168, 241, 0.4) 39.06%,
      rgba(69, 123, 157, 0) 100%
    );
    height: 100%;
    margin-left: -50%;
    z-index: -10;

    &--out {
      animation: fadeOut 0.3s ease;
      animation-fill-mode: forwards;
    }

    &-sec {
      left: 45%;
      width: 100%;
      display: none;

      @media screen and (min-width: $grid-medium-breakpoint) {
        display: block;
      }
      @media screen and (min-width: $grid-large-breakpoint) {
        left: 25%;
        max-width: 900px;
        margin: auto;
      }
    }
  }

  &__black-rectangele-top {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(60% 0%, 100% 50%, 100% 0);
    width: 100%;
    height: 100%;
    background-color: #354f64;
    z-index: -15;

    &--out {
      animation: fadeOutRight 0.3s ease;
      animation-fill-mode: forwards;
    }
  }

  &__black-rectangele-bottom {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 20%, 0 100%, 50% 100%);
    width: 100%;
    height: 100%;
    background-color: #354f64;
    z-index: -15;

    &--out {
      animation: fadeOutLeft 0.3s ease;
      animation-fill-mode: forwards;
    }
  }

  &__content,
  &__form {
    background-color: transparent;
    position: relative;
    z-index: 10;
  }

  &__form {
    animation: fadeInRight 0.3s linear;

    // &--out {
    //   animation: fadeOut 0.3s linear;
    // }
  }

  &__button-wrap {
    @extend %row;
    width: 100%;
    margin: 60px 0;

    &--out {
      animation: fadeOutDown 0.3s ease;
      animation-fill-mode: forwards;
    }
  }

  &__button {
    @extend %additional_button;
    background-color: $red800;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: $font-size-smn;
    line-height: $line-height-smn;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white300;

    margin: 5px auto;
    padding: 15px 20px;

    @media screen and (min-width: $grid-exsmall-breakpoint) {
      min-width: 295px;
    }

    &--disabled {
      opacity: 0.9;
      color: grey;
      background-color: #880120;
    }
  }

  &__bottom-offer {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $white300;
    width: 60%;
    margin: 0 auto 5vh;
    text-transform: uppercase;
    text-align: center;
  }

  &__bottom-button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: $red600n;
    padding: 0;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    text-transform: uppercase;
  }
}

.account-title {
  @extend %column;
  align-items: flex-start;
  width: 100%;
  padding: #{$universal-padding * 3} #{$universal-padding * 5};

  @media screen and (min-width: $grid-medium-breakpoint) {
    margin-top: 10vh;
  }

  &--init {
    margin-top: 20vh;
    @media screen and (min-width: $grid-exmedium-breakpoint) {
      margin-top: 30vh;
    }
    @media screen and (min-width: $grid-medium-breakpoint) {
      margin-top: 20vh;
    }
  }

  &--out {
    animation: fadeOutLeft 0.3s ease;
    animation-fill-mode: forwards;
  }

  // @media screen and (min-width: $grid-medium-breakpoint) {
  //   position: absolute;
  //   bottom: 0;
  //   left: 25%;
  // }

  // @media screen and (min-width: 900px) {
  //   left: 20%;
  // }

  &__h1 {
    font-size: $font-size-l;
    text-transform: uppercase;
    color: $white300;
    line-height: $line-height-ln;
    letter-spacing: 0.05em;
    margin-top: 10px;
    // @media screen and (min-width: $grid-medium-breakpoint) {
    //   font-size: $font-size-xl;
    //   line-height: 36px;
    // }

    &--out {
      animation: fadeOutLeft 0.3s ease;
    }
  }

  &__second-part {
    display: block;
    font-size: $font-size-l;
    padding-left: calc(10 * #{$universal-padding});
    line-height: $line-height-ln;

    // @media screen and (min-width: $grid-medium-breakpoint) {
    //   font-size: #{$font-size-l * 1.2};
    //   line-height: 30px;
    // }
  }

  &__diclaimer {
    font-size: $font-size-sm;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $red600n;
    position: relative;
    width: 100%;

    &:after {
      content: '';
      height: 1px;
      width: 50%;
      background-color: $white300;
      position: absolute;
      bottom: -5px;
      left: #{$universal-padding * -5};

      @media screen and (min-width: $grid-medium-breakpoint) {
        max-width: 100px;
        left: 0;
      }

      // @media screen and (min-width: 900px) {
      //   left: 8%;
      // }
    }
  }
}

.account-description {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  text-transform: uppercase;
  color: $white300;
  padding: 0 #{$universal-padding * 5};

  &--out {
    animation: fadeOutLeft 0.3s ease;
    animation-fill-mode: forwards;
  }
}

.formForAccount {
  padding: 40px;
  background-color: transparent;

  @media screen and (min-width: $grid-medium-breakpoint) {
    padding-top: 0;
  }

  &--out {
    animation: fadeOutLeft 0.3s ease;
  }

  &__input {
    border: none;
    border-bottom: 2px solid $white300;
    background: transparent;
    width: calc(100% - 20px);
    font-size: $font-size-m;
    line-height: $line-height-smn;
    color: $white300;
    padding-bottom: 10px;
    outline: none;

    &--error {
      border-bottom: 2px solid $red600n;
    }

    &--mt {
      margin-top: 20px;
    }
  }

  &__label {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #cbd5e0;
  }

  &__submit {
    margin: 5vh 0;
    outline: none;
  }

  &__errors {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: 0.05em;
    padding-left: 5px;
    color: $red600n;
    float: right;
    padding-top: 5px;
  }

  &__password-container {
    width: 100%;
    position: relative;
  }

  &__checkbox-eye {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    z-index: 1;
    right: 15px;
    top: 20px;
  }
  &__checkbox-icon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 0;
    right: 15px;
    top: 20px;

    &--hidden {
      display: none;
    }

    & path {
      fill: $white300;
    }
  }
}
