@use '../../styles/settings/settings' as *;
@use '../../styles/gridLayout/layout' as *;

.background-wrapper {
  width: 100%;

  &.background-wrapper--colored {
    background: radial-gradient(50% 50% at 50% 50%, #0a4b74 0%, $blue400 100%);
    animation: heightGrow 0.5s ease-out;
    animation-fill-mode: both;
  }

  &--blue {
    background: radial-gradient(50% 50% at 50% 50%, #0a4b74 0%, $blue400 100%);
    min-height: 100vh;
    height: 100%;
  }

  &.background-wrapper--uncolored {
    background: radial-gradient(50% 50% at 50% 50%, #0a4b74 0%, $blue400 100%);
    animation: heightDown 0.2s ease-out;
    animation-fill-mode: both;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    height: auto;
    min-height: 100vh;
  }
}

@keyframes heightGrow {
  from {
    // height: 20vh;
    min-height: 20vh;
    height: 20%;
  }
  50% {
    // height: 70vh;
    height: 70%;
    min-height: 70vh;
  }
  to {
    // height: 100vmax;
    height: 100%;
    min-height: 100vmax;
  }
}

@keyframes heightDown {
  from {
    height: 100vmax;
  }
  50% {
    height: 50vh;
  }
  to {
    height: 0;
  }
}
