.calculator-buttons {
  @extend %row;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: $grid-small-breakpoint) {
    justify-content: center;
  }

  &--hidden {
    display: none;
  }
}

.calculator-button {
  border: 1px solid $white300;
  border-radius: $font-size-m;
  background-color: transparent;
  @extend %row;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0 auto;

  &:hover, &:active, &:focus {
    border: 1px solid $red600;
  }

  &__clicks {
    position: absolute;
    top: #{$universal-padding * (-1)};
    right: #{$universal-padding * (-1)};
    color: $white300;
    font-size: #{$font-size-m};
    line-height: 19px;
    letter-spacing: 0.05em;
    background-color: $red600;
    padding: #{$universal-padding * .5} #{$universal-padding * 1};
    border-radius: 50%;
  }

  &__points {
    font-size: #{$font-size-m};
    color: $white300;
    text-transform: uppercase;
    display: block;
    width: 100%;
  }
}

.calculator--grid .calculator-buttons {
  padding: #{$universal-padding * 2} 0 #{$universal-padding * 5} 0;

  &__wrapper {
    @extend %col-sm-3;
    margin: 0 #{$universal-margin * 1} #{$universal-margin * 2.5} 0;
    padding: 0 #{$universal-padding * .5};
  }
}

.calculator--grid .calculator-button {
  width: 92px;
  height: 92px;
  justify-content: center;
  padding: #{$universal-padding * .5};

  &__picture {
    display: block;
    width: 90%;
    margin: auto;
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: contain;
    max-height: 70px;
  } 
}

.calculator--list .calculator-buttons {
  padding: #{$universal-padding * 1} 0 #{$universal-padding * 2} 0;

  &__wrapper {
    @extend %col-sm-5;
    margin: 0 auto #{$universal-margin * 1.5} auto;
    padding: 0 #{$universal-padding * .5};
  }

}

.calculator--list .calculator-button {
  width: 140px;
  height: 70px;
  justify-content: space-between;

  &__picture {
    display: block;
    max-width: 22%;
  }

  &__image {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 46px;
  } 

  &__title {
    width: 70%;
    font-size: #{$font-size-xs * .8};
    line-height: 10px;
    text-transform: uppercase;
    color: $white300;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: #{$universal-padding * 1};
  }

}

.calculator--grid.calculator--stage-ready .calculator-buttons,
.calculator--grid.calculator--stage-start .calculator-buttons,
.calculator--grid.calculator--stage-finished .calculator-buttons {
  padding: #{$universal-padding * 1} 0 #{$universal-padding * 1} 0;

  &__wrapper {
    margin: 0 auto #{$universal-margin * 1.5} auto;
  }
}

.calculator-pause {
  & path {
    fill: $white300;
  }
}