@import './MenuBurger'; 

.menu-nav {
    width: 100%;
    display: none;

    &.show {
        @extend %row;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
    }

}
.menu {
    list-style-type: none;

    &__link{
        text-transform: uppercase;
        text-decoration: none;
    }

}