@import './MenuBurger'; 

$double-universal-padding: 2 * $universal-padding;

.menu-nav {
    width: 100%;
    display: block;
    height: 0;

    &.show {
        @extend %row;
        height: auto;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        max-width: $universal-medium-container;
        height: 100%;

        &:before {
            content: '';
            display: block;
            height: 2px;
            width: calc(100% - #{$double-universal-padding});
            background: $cyan400;
            margin: calc( #{$universal-margin} * 2.5) auto 0;
        }
    }

}
.menu {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
    padding: #{$universal-padding};
    width: 100%;
    justify-content: center;

        @media screen and (min-width: $grid-medium-breakpoint) {
            margin-top: calc( #{$universal-margin} * 2.5);
            flex-flow: row wrap;
            justify-content: space-between;

            .menu__item {
                transform: translate3d(0, 0, 0);
                opacity: 1;

                &:after {
                    bottom: -10px;
                    left:0;
                }

                &:not(.current--page):hover:after {
                    animation: widthGrow .3s ease both;
                }

                &.current--page:after  {
                    width: 100%;
                }
            }

        }

    &__item {
        transform: translate3d(0, -100vh,0);
        transition: transform .1s ease-out;
        text-align: center;
        color: #fff;
        opacity: 0;
        position: relative;

        &:after {
            display: none;
            opacity: 0;
            content: '';
            position: absolute;
            left:25%;
            bottom: 2px;
            width: 0;
            height: 4px;
            background-color: $red400;
        }

        &:not(.current--page):hover:after {
            display: block;
            opacity: 1;
            animation: widthGrowSmall .3s ease both;
        }

        &.current--page:after  {
            display: block;
            opacity: 1;
            width: 50%;
        }

    }

    &.menu--show &__item {
        text-align: center;
        color: #fff;
        padding: #{$double-universal-padding} 0;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease-out;
        opacity: 1;

        @for $i from 1 to 8 {
          &:nth-child(#{$i}) {
              transition-delay: $i * 0.05s;
            }
        }
    }

    &__link {
        font: $font-size-m $font-RussoOne;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;

        @media screen and (min-width: $grid-medium-breakpoint) {
            font-size: $font-size-sm;
            color: $blue400;
        }
    }

}



@keyframes widthGrow {
    from {width: 20%;}
    50% {width: 70%;}
    to {width: 100%;}
    }

@keyframes widthGrowSmall {
    from {width: 20%;}
    50% {width: 40%;}
    to {width: 50%;}
}