.single-post {
  &__wrap {
    @media screen and (min-width: $grid-large-breakpoint) {
      padding: 0 100px;
    }
  }

  &__image {
    max-height: 200px;
    display: block;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: $grid-medium-breakpoint) {
      max-height: 310px;
    }
  }

  &__location {
    @extend %col-sm-12;
    @extend %row;
  }

  &__list {
    @extend %row;
    list-style-type: none;
    padding: #{$universal-padding * 1} #{$universal-padding * 3};
    margin: 0;

    & > li {
      color: $cyan400;
      font-size: $font-size-xs;
      line-height: 10px;
      text-transform: uppercase;
      padding: 0 #{$universal-padding * 2} 0 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: $red300;
        border-radius: 50%;
        top: calc(50% - (3px / 2));
        right: calc(#{$universal-padding * 1} - (3px / 2));
      }
    }
    & > li:nth-child(2) {
      &:after {
        display: none;
      }
    }
  }

  &__title {
    font-family: $font-Rubik;
    font-size: $font-size-ln;
    color: $header;
    position: relative;
    padding: 0 #{$universal-padding * 3} #{$universal-padding * 2};
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-bottom: #{$universal-margin * 1};

    @media screen and (min-width: $grid-large-breakpoint) {
      font-size: $font-size-xl;
      line-height: 36px;
    }

    &:before {
      content: '';
      height: 2px;
      width: 100px;
      bottom: 0;
      left: #{$universal-padding * 3};
      background-color: $red400;
      position: absolute;
    }
  }

  &__html {
    padding: 0 0 #{$universal-padding * 3} 0;

    & p {
      padding: 0 #{$universal-padding * 3};
      font: $font-size-smn $font-Roboto;
      text-align: justify;
      color: $black400;
      line-height: $line-height-smn;
    }

    & a {
      font: $font-size-smn $font-Roboto;
      text-decoration: none;
      text-align: justify;
      color: $header;
    }

    & img {
      max-height: 260px;
      display: block;
      width: 100%;
      object-fit: cover;
      margin: #{$universal-margin * 3} auto;
    }

    & q {
      font: #{$font-size-xl * 0.9} $font-RussoOne;
      display: block;
      color: $red300;
      line-height: 34px;
      text-align: left;
      position: relative;
      text-transform: uppercase;
      padding: #{$universal-padding * 7} #{$universal-padding * 1} #{$universal-padding * 4} #{$universal-padding *
        7};

      &:before {
        content: '“';
        position: absolute;
        left: #{$universal-padding * 2};
        top: #{$universal-padding * 4};
        color: $red300;
        font: 100px $font-Roboto;
        line-height: 117px;
      }
    }
  }
}
