.image_rectangle {
  text-align: center;
  overflow: hidden;
  clip-path: polygon(50% 0, 100% 0, 50% 100%, 0% 100%);
  height: 280px;

  @media screen and (min-width: $grid-medium-breakpoint) {
    height: 390px;
  }

  &__image {
    height: 280px;
    margin-left: -50%;

    @media screen and (min-width: $grid-medium-breakpoint) {
      height: 390px;
    }
  }

  &__picture {
    display: block;
    opacity: 0.6;
  }
}
