.close-button {
  @extend %additional_button;
  width: auto;
  text-align: center;
  overflow: visible;

  & path {
    fill: $black500;
    transform-origin: 50% 50%;
  }

  &:hover path,  &:focus path{
    animation: rotateCloseButton .2s linear;
  }
  &--white {
    display: block;
    
    & svg {
      width: 18px;
      height: 18px;
    }

    & path {
      fill: #fff;
    }
  }
}

