@import './settings/settings';
@import './gridLayout/layout';
@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../components/Social/Social';
@import '../components//Templates/MainTemplate';

body {
  margin: 0;
}

.main {
  @extend %row;
}


.wert_line {
  width:1px;
  height: 100vh;
  position: absolute;
  left: calc(50% - 1px);
  top:0;
  background: black;
}
.gor_line {
  width:100%;
  height: 1px;
  position: absolute;
  left: 0;
  top:20px;
  background: black;
}