@use 'sass:math';
@use './settings/settings' as *;
@use './gridLayout/layout' as *;
@use '../components/Header/Header';
@use '../components/Footer/Footer';
@use '../components/Social/Social';
@use '../components/Templates/Main/MainTemplate';
@use '../components/Images_main/Images_main';
@use '../components/Image_rectangle/Image_rectangle';
@use '../components/Backgound_wrapper/Backgound_wrapper';
@use '../components/Templates/Post/PostTemplate';
@use '../components/Modal/ModalComponent';
@use '../components/Templates/Single_Post/SinglePostTemplate';
@use '../components/Templates/Single_Exercises/SingleExercisesTemplate';
@use '../components/Templates/Calculator/Calculator';

/* FONT FAMILY RUBIK */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font: #{$font-size-m} $font-RussoOne;
  margin: 0;
  background-color: $backgroundMain;
  overflow-x: hidden;
}

a {
  &:focus {
    outline: none;
    @include no-touch-select;
  }
}

div {
  &:focus {
    outline: none;
    @include no-touch-select;
  }
}
