@use 'sass:math';
@use './settings/settings' as *;
@use './gridLayout/layout' as *;
@use '../components/Header/Header';
@use '../components/Footer/Footer';
@use '../components/Social/Social';
@use '../components/Templates/Main/MainTemplate';
@use '../components/Images_main/Images_main';
@use '../components/Image_rectangle/Image_rectangle';
@use '../components/Backgound_wrapper/Backgound_wrapper';
@use '../components/Templates/Post/PostTemplate';
@use '../components/Modal/ModalComponent';
@use '../components/Templates/Single_Post/SinglePostTemplate';
@use '../components/Templates/Single_Exercises/SingleExercisesTemplate';
@use '../components/Templates/Calculator/Calculator';

/* FONT FAMILY RUBIK */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font: #{$font-size-m} $font-RussoOne;
  margin: 0;
  // background: $grey400;
  background-color: $backgroundMain;
  overflow-x: hidden;
}

a {
  &:focus {
    outline: none;
    @include no-touch-select;
  }
}

div {
  &:focus {
    outline: none;
    @include no-touch-select;
  }
}

$loaderSize: 12px;

.loader {
  border-radius: 50%;
  width: #{$loaderSize};
  height: #{$loaderSize};
}

.loader {
  position: relative;
  text-indent: -9999em;
  border-top: #{math.div($loaderSize, 1.5)} solid #e53e3e61;
  border-right: #{math.div($loaderSize, 1.5)} solid #e53e3e61;
  border-bottom: #{math.div($loaderSize, 1.5)} solid #e53e3e61;
  border-left: #{math.div($loaderSize, 1.5)} solid $red600n;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  overflow: hidden;
  opacity: 0;
}

.loaderBg {
  border-radius: 50%;
  width: #{$loaderSize * 4};
  height: #{$loaderSize * 4};
  margin: 10% auto;
}
.loader--show {
  opacity: 1;
}
