@import './settings/settings';
@import './gridLayout/layout';
@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../components/Social/Social';
@import '../components/Templates/Main/MainTemplate';
@import '../components/Images_main/Images_main';
@import '../components/Image_rectangle/Image_rectangle';
@import '../components/Backgound_wrapper/Backgound_wrapper';
@import '../components/Templates/Post/PostTemplate';
@import '../components/Modal/ModalComponent';
@import '../components/Templates/Single_Post/SinglePostTemplate';

body {
  font: #{$font-size-m} $font-RussoOne;
  margin: 0;
  background: $grey400;
}
