.calculator-view-conrtol {
  @extend %row;
  @extend %col-sm-6;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;

  &--showOut {
    opacity: 0;
  }
}

.grid-control, .list-control {
  @extend %additional_button;
  margin: 0 #{$universal-padding * 1};
  padding: 0 #{$universal-padding * 1};

  & rect {
    fill: $white300;
  }
  &:hover rect, &--active rect{
    fill: $red600;
  }

}

.grid-conrtol {
  margin-left: 0;
}

.calculator-view-conrtol--showOut .grid-control, .calculator-view-conrtol--showOut .list-control{
  cursor: auto;
}

