.calculator-view-conrtol {
  @extend %row;
  @extend %col-sm-6;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;

  &--showOut {
    opacity: 0;
  }
}

.settings-button {
  @extend %additional_button;
  margin: 0 #{$universal-padding * 1};
  padding: 0 #{$universal-padding * 1};

  &:focus {
    outline: none;
    @include no-touch-select;
  }

  & g {
    fill: $white300;
  }

  &:hover path,
  &--active path {
    fill: $red600;
  }

  &__show-out {
    animation: fadeOut 0.3s ease-out;
    animation-fill-mode: forwards;
    cursor: auto;
  }
}

.grid-conrtol {
  margin-left: 0;
}
