@use '../../styles/settings/settings' as *;
@use '../../styles/gridLayout/layout' as *;

.social {
    list-style-type: none;
    @extend %row;
    justify-content: space-around;
    align-items: center;
    padding: #{$universal-padding};

    .footer--fixed  & {
        padding-top: 0;
        margin-top: 0;
    }

    &__item {
        padding: #{$universal-padding};
    }

    &__item svg {
        fill: $red400;
    }

    .footer--fixed &__item svg {
        transition: fill 1s ease;
        fill: $white400;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
    }
}