.exercises-wrap {
  @extend %row;
  width: 100%;

  @media screen and (min-width: $grid-large-breakpoint) {
    padding: #{0 $universal-padding * 10};
  }
}

.exercises {
  @extend %column;
  padding: 0 0 #{$universal-padding * 7} #{$universal-padding * 3};
  @extend %col-sm-12;
  @extend %col-md-4;

  @media screen and (min-width: $grid-medium-breakpoint) {
    & {
      padding: 0 0 #{$universal-padding * 7} 0;
      width: calc(100% / 3);
    }
  }

  &__group {
    font-size: #{$font-size-m * 0.9};
    line-height: 18px;
    text-transform: uppercase;
    color: $black400;
    display: flex;
    // position: relative;
    // text-align: center;

    span {
      display: block;
      // margin: auto;
      position: relative;
      padding-left: 1rem;

      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        // left: calc(50% - 30px);
        left: 1rem;
        width: 60px;
        height: 2px;
        background-color: $red500;

        @media screen and (min-width: $grid-medium-breakpoint) {
          left: #{$universal-padding * 2};
        }

        @media screen and (min-width: $grid-large-breakpoint) {
          left: #{$universal-padding * 10};
        }
      }

      @media screen and (min-width: $grid-medium-breakpoint) {
        padding-left: #{$universal-padding * 2};
      }

      @media screen and (min-width: $grid-large-breakpoint) {
        padding-left: #{$universal-padding * 10};
      }
    }
  }
}
