.exercises {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
  padding: 0 0 #{$universal-padding * 7} #{$universal-padding * 6};
  @extend %col-sm-12;
  @extend %col-md-4;

  @media screen and (min-width: $grid-medium-breakpoint) {
    & {
      padding: 0 0 #{$universal-padding * 7} 0;
      width: calc(100% / 3);
    }
  }

  &__group {
    font: #{$font-size-m * .9} $font-RussoOne;
    line-height: 18px;
    text-transform: uppercase;
    color: $black400;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: #{$universal-padding * 9};
      height: 2px;
      background-color: $red500;
    }
  }

}