.number-list {
  list-style-type: none;
  @extend %column;
  padding: 0 0 0 #{$universal-padding * 4};

  @media screen and (min-width: $grid-large-breakpoint) {
    & {
      padding: 0 0 0 #{$universal-padding * 12};
    }
  }

  &__item {
    position: relative;
    padding: #{$universal-padding * 3} 0;
  }

  &__link {
    font-size: #{$font-size-xs * 0.9};
    text-decoration: none;
    color: $blue400;
    line-height: 11px;
    text-transform: uppercase;
    padding: #{$universal-padding * 3} 0;

    &:focus,
    &:hover {
      padding-left: #{$universal-padding * 2};

      .number-list__number path {
        stroke: $red400;
        stroke-width: 2;
        fill-opacity: 1;
      }
    }

    .number-list__number svg {
      overflow: visible;
    }
  }

  &__link-11 {
    &:focus,
    &:hover {
      padding-left: #{$universal-padding * 4};
    }
  }
  &__link-12 {
    &:focus,
    &:hover {
      padding-left: #{$universal-padding * 5};
    }
  }

  &__link-10 {
    &:focus,
    &:hover {
      padding-left: #{$universal-padding * 5.5};
    }
  }

  &__link-1 {
    &:focus,
    &:hover {
      padding-left: #{$universal-padding * 1};
    }
  }

  &__number {
    @extend %row;
    align-items: center;
    justify-content: center;
    height: 62px;
    position: absolute;
    top: 5%;
    left: #{$universal-padding * (-2.5)};
    transition: left 0.2s ease-in;
  }
  /*
        Минус такого подхода нет кросбраузерности, нужно делать костыль с shadow
        А второе text-stroke нельзя указать linear gradient
  */
  // &__number {
  //   font: $font-size-xxl $font-RussoOne;
  //   line-height: 63px;
  //   text-transform: uppercase;
  //   color: transparent;
  //   -webkit-text-stroke: 1px rgba(23, 44, 155, 0.68);
  //   -webkit-text-fill-color: transparent;
  //   position: absolute;
  //   top: 0;
  //   left: -1rem;
  // }
}
