.main {

  &--hidden{
    display: none;
  }

}

.background-wraper {
  width:100%;
  background: $grey400;
  height: 100vh;

  &.background-wraper--colored {
    background: radial-gradient(50% 50% at 50% 50%, #0A4B74 0%, $blue400 100%);
    animation: heightGrow .5s ease-out;
    animation-fill-mode: both;
  }

}

@keyframes heightGrow {
  from {height: 20vh;}
  50% {height: 70vh;}
  to {height: 100vh;}
  }

.main-title{
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column-reverse wrap;

    &__h1 {
      font: $font-size-l $font-RussoOne;
      text-transform: uppercase;
      color: $red400;
      line-height: 26px;
      letter-spacing: 0.05em;
      padding-left:calc(5 * #{$universal-padding});
      margin-top: 1.5rem;
    }

    &__second-part{
      display: block;
      font-size: $font-size-l * 0.9;
      padding-left:calc(4 * #{$universal-padding});
      line-height: 21px;
    }

    &__disclaimer{
      font: $font-size-xs $font-RussoOne;
      color: $blue400;
      line-height: 10px;
      letter-spacing: 0.05em;
      position: relative;
      padding-left:calc(5 * #{$universal-padding});
      text-transform: uppercase;
      max-width: calc((5 * #{$universal-padding}) + 3rem);
    }

    &__disclaimer:after {
      content: '';
      height: 1px;
      width: 100%;
      background-color: $blue400;
      position: absolute;
      bottom: -10px;
      right: .2rem;
    }
}