@use '../../../styles/settings/settings' as *;
@use '../../../styles/gridLayout/layout' as *;
@use '../../Post_title/Post_title';
@use '../../Exercises/Exercises';
@use '../../Exercises/Number_list';

@use '../../Buttons/Close_button';

@use '../../Contacts/Contacts';

@use './PostTemplateStyle';

@use '../../Documents/Documents';
