@import '../../Post_title/Post_title';
@import '../../Exercises/Exercises';
@import '../../Exercises/Number_list';

@import '../../Programs/Programs';

@import '../../Buttons/Calendar_button';
@import '../../Buttons/Close_button';

@import '../../Search/Search';
@import '../../Search/Calendar';
@import '../../Meropriyatiya_tabs/Meropriyatiya_tabs';




