.account-link {
  cursor: pointer;
  @extend %header_button;
  overflow: visible;
  z-index: 10;

  & path{
    fill: $blue400;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    justify-content: flex-end;
    padding-right: 0.5rem;
  }
}

.header-wraper--imaged .account-link path {
    fill: $white300;
}
