.calendar {
  font: $font-size-xs $font-RussoOne;
  position: relative;
  width: 200px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: $black400;
}

.calendar-block {
  @extend %col-sm-12;
  margin: auto;
  cursor: pointer;

  &-panel {
    @extend %col-sm-12;
  }

  &-date-panel {
    @extend %row;
    justify-content: center;
  }

  &-range-middle {
    display: none;
  }

  &-range-part {
    @extend %col-sm-12;
    @extend %col-md-5;

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding: 0 #{$universal-padding * 2};
    }
  }

  &-range-left {
    padding-bottom: #{$universal-padding * 2};

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding-bottom: 0;
    }
  }

  &-header {
    color: $black300;
    border-bottom: 1px solid $header;
  }

  &-header > div {
    @extend %row;
    justify-content: space-between;
    align-items: center;
    padding: #{$universal-padding} 0;
  }

  &-prev-year-btn:hover,
  &-prev-month-btn:hover,
  &-next-month-btn:hover,
  &-next-year-btn:hover,
  &-year-panel-prev-decade-btn:hover,
  &-year-panel-next-decade-btn:hover {
    color: $red400;
  }

  &-prev-year-btn,
  &-prev-month-btn,
  &-next-month-btn,
  &-next-year-btn,
  &-year-panel-prev-decade-btn,
  &-year-panel-next-decade-btn {
    position: relative;
    display: inline-block;
    width: $font-size-xs;
    height: $font-size-xs;
  }

  &-prev-year-btn,
  &-prev-month-btn,
  &-year-panel-prev-decade-btn,
  &-month-panel-prev-year-btn,
  &-decade-panel-prev-century-btn {
    transform: rotate(-45deg);
  }

  &-next-month-btn,
  &-next-year-btn,
  &-year-panel-next-decade-btn,
  &-month-panel-next-year-btn,
  &-decade-panel-next-century-btn {
    transform: rotate(135deg);
  }

  &-prev-year-btn,
  &-next-year-btn,
  &-year-panel-prev-decade-btn,
  &-year-panel-next-decade-btn,
  &-month-panel-prev-year-btn,
  &-month-panel-next-year-btn,
  &-decade-panel-prev-century-btn,
  &-decade-panel-next-century-btn {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      border: 0 solid;
      border-width: 1.5px 0 0 1.5px;
      content: '';
    }

    &:after {
      position: absolute;
      top: 4px;
      left: 4px;
      display: inline-block;
      width: 7px;
      height: 7px;
      border: 0 solid;
      border-width: 1.5px 0 0 1.5px;
      content: '';
    }
  }

  &-prev-month-btn,
  &-next-month-btn {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      border: 0 solid;
      border-width: 1.5px 0 0 1.5px;
      content: '';
    }
  }

  &-year-panel > div,
  &-month-panel > div {
    @extend %row;
    @extend %col-sm-12;
    justify-content: space-around;
  }

  &-month-panel {
    &-year-select {
      &-arrow {
        display: none;
      }
    }
  }

  &-year-panel,
  &-month-panel,
  &-decade-panel {
    animation: AnimateCalendar 0.3s ease;
    border-top: 1px solid #a8dadc;

    &-header {
      @extend %row;
      @extend %col-sm-12;
      text-align: center;
      justify-content: space-between;
      align-items: center;
    }

    &-decade-select {
      @extend %col-sm-5;

      &-arrow {
        display: none;
      }
    }

    &-body {
      @extend %col-sm-12;
    }

    &-cell {
      text-align: center;

      &:hover {
        background-color: $white300;
        color: $black400;
      }
    }

    &-table {
      width: 100%;
      text-align: center;

      & td,
      & th {
        width: auto;
        height: 30px;
      }
    }

    &-next-decade-cell,
    &-last-decade-cell,
    &-last-century-cell,
    &-next-century-cell {
      color: $black200;
    }

    &-selected-cell {
      background-color: $blue400;
      color: $white300;
    }
  }

  &-my-select {
    @extend %row;
    @extend %col-sm-5;
    justify-content: space-around;
  }

  &-body {
    padding-top: #{$universal-padding * 2};
  }

  &-table {
    font: #{$font-size-sm * 1.1} $font-Roboto;
    width: 100%;

    & td,
    & th {
      width: 20px;
      height: 20px;
    }
  }

  &-column-header {
    text-align: center;
    @extend %text-600;
  }

  &-last-month-cell,
  &-next-month-btn-day {
    color: $black200;
  }

  &-cell {
    text-align: center;

    &:hover {
      background-color: $white300;
      color: $black400;
    }
  }

  &-selected-start-date,
  &-selected-end-date {
    background-color: $blue400;
    color: $white300;
  }

  &-in-range-cell {
    background-color: $cyan300;
  }
}

.selected-date {
  @extend %row;
  padding: #{$universal-padding * 4} #{$universal-padding * 2};
  align-items: center;
  justify-content: center;
  display: none;

  @media screen and (min-width: $grid-medium-breakpoint) {
    padding: #{$universal-padding * 2} #{$universal-padding * 2};
  }

  &__items {
    font-size: $font-size-sm;
    // @extend %col-sm-12;
    text-align: left;
  }

  &--show {
    display: flex;
  }

  &__placeholder {
    opacity: 0.5;
  }
}

.calendar-btn {
  @extend %row;
  @extend %col-sm-10;
  align-items: center;
  font-family: $font-Rubik;
  font-size: $font-size-sm;
  font-weight: 500;
  color: $grey200;
  line-height: 12px;
  text-transform: uppercase;
  border: none;
  // border-radius: #{$universal-padding * 4};
  background-color: transparent;
  // width: 100%;
  padding: #{$universal-padding * 0.7} #{$universal-padding * 0.5};
  // box-shadow: (0px 0px 7px $grey600);
  // margin: 0 #{$universal-margin * 2};
  // max-width: 250px;
  cursor: pointer;
  &:focus {
    outline: none;
    @include no-touch-select;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    // margin: 0 #{$universal-margin * 3} #{$universal-margin * 1};
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    // margin: 0 #{$universal-margin * 3} #{$universal-margin * 1};
  }

  &__icon {
    margin-right: #{$universal-margin * 1};
    & path {
      fill: rgba(0, 0, 0, 0.3);
    }
  }
}

.calendar-btn-wrap {
  @extend %row;
  @extend %col-sm-12;
  border: 1px solid $grey300;
  border-radius: #{$universal-padding * 4};
  box-shadow: (0px 0px 7px $grey600);
  justify-content: space-between;
  padding: 0 #{$universal-padding * 2};
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
  max-height: 32px;

  &:active,
  &:hover,
  &:focus {
    color: $active;
    border: 1px solid $active;
    outline: none;
    @include no-touch-select;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    margin-left: #{$universal-margin};
  }
}

.calendar-close-btn {
  @extend %col-sm-2;
  opacity: 0.4;
  width: 13px;
  height: 13px;
}
@keyframes AnimateCalendar {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
