@import './Tabs';

$min-height-content-tabs: 100px;

.events-tabs {
  @extend %column;
  @extend %col-sm-12;

  @media screen and (min-width: $grid-medium-breakpoint) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__controls-wraper {
    @extend %col-md-3;
    position: relative;

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding-right: #{$universal-padding * 7};
    }

    &:after{
      @media screen and (min-width: $grid-medium-breakpoint) {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-right: 1px solid $red300;
        height: 50%;
        min-height: $min-height-content-tabs;
      }
    }

  }

  &__content-wraper {
    @extend %col-md-8;
  }

}

.event {
  @extend %row;
  @extend %col-sm-12;
  @extend %col-md-6;
  padding: 0 #{$universal-padding * 2} #{$universal-padding * 2};
  margin-bottom: #{$universal-margin * 4.5};

  @media screen and (min-width: $grid-medium-breakpoint) {
    margin-bottom: #{$universal-margin * 3};
  }

  &__picture {
    width: 100%;
  }

  &__image {
    @extend %col-sm-12;
    display: block;
    margin: auto;
    object-fit: cover;
    max-height: 115px;
    width: 100%;

    @media screen and (min-width: $grid-medium-breakpoint) {
      max-height: 100px;
    }
  }

  &__link{
    text-decoration: none;
    position: relative;
    padding-top: #{$universal-padding * 1.5};
    width: 100%;

    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: #{$universal-padding};
      width: 50%;
      height: 1px;
      background: linear-gradient(90deg, $red300 0%, $grey400 100%);;
    }

  }

  &__title {
    @extend %col-sm-10;
    @extend %col-md-12;
    margin: 0;
    padding: #{$universal-padding * 1.5} 0;
    font: #{$font-size-m * 0.95} $font-Roboto;
    line-height: 18px;
    color: $black300;
  }

  &__date {
    font: #{$font-size-xs} $font-Roboto;
    line-height: 12px;
    color: $red300;
  }
}

.event-wrong {
  @extend %row;
  @extend %col-sm-12;
  align-items: center;
  justify-content: center;
  min-height: $min-height-content-tabs;

  &__title {
    @extend %col-sm-12;
    font: #{$font-size-l} $font-Roboto;
    color: $black300;
    line-height: 20px;
    text-align: center;
  }

  &__description {
    @extend %col-sm-12;
    font: #{$font-size-sm} $font-Roboto;
    color: $black300;
    line-height: 12px;
    text-align: center;
  }
}



