$tab_width_decoration: 50px;

.tabs-controls {
  list-style-type: none;
  @extend %column;
  align-items: center;
  padding: #{$universal-padding * 1.5};
  width: 100%;

  @media screen and (min-width: $grid-medium-breakpoint) {
    align-items: flex-start;
    padding: #{$universal-padding * 1.5};
  }

  &__item,
  &__item-modal {
    font-family: $font-Rubik;
    font-weight: bold;
    font-size: $font-size-m;
    color: $black400;
    line-height: $line-height-l;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    display: none;

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding: #{$universal-padding * 1.5} 0;
      display: block;
    }

    &:not(&--active):hover:after {
      @media screen and (min-width: $grid-medium-breakpoint) {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: $red500;
        animation: widthTabDecorationGrow 0.2s ease both;
      }
    }

    &--active {
      display: block;
    }

    &--active:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: $tab_width_decoration;
      height: 3px;
      background-color: $red500;

      @media screen and (min-width: $grid-medium-breakpoint) {
        bottom: 0;
      }
    }

    &:focus {
      outline: none;
      @include no-touch-select;
    }
  }

  &__item-modal {
    display: block;
    padding: #{$universal-padding} 0;
  }

  &__load {
    @extend %additional_button;
    font-family: $font-Rubik;
    font-weight: 600;
    font-size: $font-size-smn;
    color: $red600n;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }

  &__wrap {
    display: none;
    @media screen and (min-width: $grid-medium-breakpoint) {
      display: block;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transform: translateY(2px);

    & path {
      fill: $red500;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      display: none;
    }

    &:focus {
      outline: none;
      @include no-touch-select;
    }
  }
}

.tabs-content {
  @extend %row;
  min-height: 200px;

  &__item {
    @extend %row;
    display: none;
    overflow-x: hidden;
    opacity: 0;
    height: 0;
    justify-content: space-between;
    align-content: flex-start;
  }

  &__item--active {
    @extend %col-sm-12;
    display: flex;
    animation: tabIn 0.4s ease-out both;
    overflow-y: hidden;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    min-height: 500px;
  }
}

@keyframes widthTabDecorationGrow {
  from {
    width: 0;
  }
  50% {
    width: #{$tab_width_decoration / 2};
  }
  to {
    width: $tab_width_decoration;
  }
}

@keyframes tabIn {
  from {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
