@import '../Menu/Menu';
@import '../Logo/Logo';
@import '../Calculator/CalculatorEnter/CalculatorEnter';
@import '../Account/Account_Icon';
@import '../GoBackIcon/GoBack';

.header {
  @extend %row;
  padding: calc(4 * #{$universal-padding}) #{$universal-padding} 0;
  justify-content: space-between;
  z-index: 10;

  @media screen and (min-width: $grid-small-breakpoint) {
    padding-bottom: #{2 * $universal-padding};
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    max-width: $universal-medium-container;
    margin: auto;
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    max-width: $universal-large-container;
  }

  &__logo {
    @extend %col-sm-8;
  }

  &__account {
    display: none;
    @extend %col-sm-2;

    @media screen and (min-width: $grid-medium-breakpoint) {
      display: flex;
    }
  }

  &__go-back {
    @extend %col-sm-2;

    &--hidden {
      display: none;
    }
  }

  &__logo--width {
    padding-left: #{(4 * 100% / $grid-column-count)};
  }

  &__burger {
    @extend %col-sm-2;
    @media screen and (min-width: $grid-medium-breakpoint) {
      display: none;
    }
  }

  &__calc {
    @extend %col-sm-2;
  }

  &__calc--hidden {
    display: none;
  }

  &__hr {
    height: 1px;
    background-color: #c9c9c9;
    border: none;
    width: 95%;
    margin: 0 auto;
    z-index: 10;
    margin-top: 5px;

    &--hidden {
      display: none;
    }
  }
}

.header-wraper {
  width: 100%;

  &--imaged {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(246.69deg, rgba(137, 14, 24, 0.5) 0%, rgba(7, 29, 60, 0.5) 100%);
      background-size: cover;
    }
  }

  &--out {
    animation: opacityAnimation 0.3s ease-out;
    animation-fill-mode: both;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
