@import '../Menu/Menu'; 
@import '../Logo/Logo'; 
@import '../Calc_Icon/Calc_Icon'; 
@import '../Account/Account_Icon'; 


.header {
    @extend %row;
    padding: calc(4 * #{$universal-padding}) #{$universal-padding};
    justify-content: space-around;

    @media screen and (min-width: $grid-medium-breakpoint) {
        max-width: $universal-medium-container;
        margin: auto;
    }

    &__logo {
        @extend %col-sm-8;

    }
    &__account {
        display: none;
        @extend %col-sm-2;

        @media screen and (min-width: $grid-medium-breakpoint) {
            display: flex;
        }
    }

    &__logo--width {
        padding-left: #{(3 * 100% / $grid-column-count)};

    }

    &__burger {
        @extend %col-sm-2;
        @media screen and (min-width: $grid-medium-breakpoint) {
            display: none;
          }
    }
    &__calc {
        @extend %col-sm-2;
    }

    &__calc--hidden {
        display: none;
    }
}