@import '../Menu/Menu'; 
@import '../Logo/Logo'; 
@import '../Calc_Icon/Calc_Icon'; 

.header {
    @extend %row;
    padding: calc(4 * #{$universal-padding}) #{$universal-padding};
    position: relative;
    justify-content: space-around;

    &__logo {
        @extend %col-sm-10;

    }
    &__burger {
        @extend %col-sm-1;
        @media screen and (min-width: $grid-medium-breakpoint) {
            display: none;
          }
    }
    &__calc {
        @extend %col-sm-1;
    }
}