.post-title {
  padding: #{$universal-padding * 18} 0 #{$universal-padding * 3.75} #{$universal-padding * 4};
  z-index: 10;

  @media screen and (min-width: $grid-medium-breakpoint) {
    padding: #{$universal-padding * 2} 0 #{$universal-padding * 3.75} #{$universal-padding};
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    padding-left: #{$universal-padding * 13};
  }

  &--hidden {
    display: none;
  }

  &__tag {
    display: block;
    margin-top: #{$universal-margin * 1.25};
    font-family: $font-Rubik;
    font-weight: bold;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    text-transform: uppercase;
    color: $red400;

    @media screen and (min-width: $grid-medium-breakpoint) {
      margin-top: #{$universal-margin * 3};
    }
  }

  &__h1 {
    font-family: $font-Rubik;
    font-size: $font-size-ln;
    line-height: $font-height-xl;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white300;
    margin: 0;
    margin: #{$universal-margin * 2.25} 0;
    position: relative;

    &--tag {
      margin-top: 0;

      @media screen and (min-width: $grid-medium-breakpoint) {
        margin-top: 0;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100px;
      height: 2px;
      background-color: $red400;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: #{$font-size-xl * 1.05};
      margin: #{$universal-margin * 4} 0 #{$universal-margin * 2.5} 0;
      line-height: 37px;

      &--tag {
        margin-top: 0;
      }
    }
  }

  &__description {
    font-family: $font-Roboto;
    font-size: $font-size-sm;
    line-height: 14px;
    color: $white300;
    padding: #{$universal-padding * 0.5} 0;
    margin: 0;
    max-width: 280px;

    @media screen and (min-width: $grid-exmedium-breakpoint) {
      max-width: 480px;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: $font-size-smn;
      line-height: $line-height-smn;
      margin-bottom: #{$universal-margin * 2};
    }
  }
}

.post-title-page {
  padding: 0 0 #{$universal-padding * 3.75} #{$universal-padding * 4};
  width: 100%;

  @media screen and (min-width: $grid-medium-breakpoint) {
    padding: #{$universal-padding * 2} 0 #{$universal-padding * 3.75} #{$universal-padding};
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    padding: #{0 $universal-padding * 30 $universal-padding * 8};
  }

  &__h2 {
    font-family: $font-Rubik;
    font-size: $font-size-ln;
    line-height: $line-height-ln;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $header;
    margin: 0;
    padding-bottom: #{$universal-padding * 2};
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 2px;
      background-color: $red400;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: #{$font-size-xl * 1.05};
      padding-bottom: #{$universal-padding * 2};
      line-height: 37px;
    }
  }

  &__description_p {
    font-family: $font-Roboto;
    font-size: $font-size-smn;
    line-height: $line-height-smn;
    color: $black400;
    padding: #{$universal-padding * 3} 0 #{$universal-padding};
    margin: 0;

    @media screen and (min-width: $grid-medium-breakpoint) {
      font-size: #{$font-size-sm * 1.2};
      line-height: 16px;
    }
  }
}
