@use './annimations' as *;

%header_button {
  border: none;
  padding: 0;
  background: transparent;
  @extend %row !optional;
  align-items: center;
  &:focus {
    outline: none;
    @include no-touch-select;
  }
}

%additional_button {
  border: none;
  padding: 0;
  background: transparent;
  @extend %row !optional;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  &:focus {
    outline: none;
    @include no-touch-select;
  }
}
