/* COLORS */
$red300: #D80032;
$red400: #D92230;
$red500:  #C12020;

$white300: #ffffff;
$white400: #EDEDED;

$azure400: #A8DADC;

$cyan300: #457B9D70;
$cyan400: #457B9D;

$blue400: #1D3557;

$grey200: rgba(0, 0, 0, 0.3);
$grey400: #DCDCDC;

$black200: #8a8383;
$black300: #313131;
$black400: #3F3F3F;
$black500: #000000;
$black600: #444444;
