/* COLORS */
$red400: #D92230;
$red500:  #C12020;
$white300: #ffffff;
$white400: #EDEDED;
$azure400: #A8DADC;
$cyan400: #457B9D;
$blue400: #1D3557;
$grey400: #DCDCDC;
$black400: #3F3F3F;
$black500: #000000;