/* FONTS */
@font-face {
  font-family: "RussoOne-Regular";
  src: url("../../../public/fonts/RussoOne-Regular.ttf");
}

$font-RussoOne: "RussoOne-Regular", sans-serif;


/* FONT SIZE */
$font-size-xxl: $universal-font-size * 3.4;  /* 30.4px */
$font-size-xl: $universal-font-size * 1.9;  /* 30.4px */
$font-size-l: $universal-font-size * 1.25;  /* 20px */
$font-size-m: $universal-font-size;  /* 16px */
$font-size-sm: $universal-font-size * 0.75; /* 12px */
$font-size-xs: $universal-font-size * 0.65; /* 10px */


/* TEXT DECORATION */
%text-600 {
    font-weight: 600;
  }
%text-400 {
  font-weight: 400;
  }
