/* FONTS */
@font-face {
  font-family: 'RussoOne-Regular';
  src: url('../../../public/fonts/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../../public/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../../../public/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../../public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

$font-RussoOne: 'RussoOne-Regular', sans-serif;
$font-Roboto: 'Roboto-Regular', sans-serif;
$font-Roboto-Medium: 'Roboto-Medium', sans-serif;
$font-Roboto-Light: 'Roboto-Light', sans-serif;

/* FONT SIZE */
$font-size-xxl: $universal-font-size * 3.4; /* 54.4px */
$font-size-xl: $universal-font-size * 1.9; /* 30.4px */

$font-size-ln: $universal-font-size * 1.5; /* 24px */
$font-size-l: $universal-font-size * 1.25; /* 20px */

$font-size-m: $universal-font-size; /* 16px */

$font-size-smn: 14px; /* 14px */
$font-size-sm: $universal-font-size * 0.75; /* 12px */

$font-size-xs: $universal-font-size * 0.65; /* 10px */

/* LINE HEIGHT */
$line-height-ln: $universal-font-size * 1.75; /* 24px */
$line-height-smn: $universal-font-size; /* 16px */
$line-height-xs: $universal-font-size * 0.75; /* 12px */

/* TEXT DECORATION */
%text-600 {
  font-weight: 600;
}
%text-400 {
  font-weight: 400;
}
