.footer {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: #{$universal-padding};
    width: 100%;

    &--fixed{
        position: fixed;
        bottom: 0;
    }

    &__tag {
        font: $font-size-sm $font-RussoOne;
        font-style: normal;
        font-weight: normal;
        line-height: 13px;
        letter-spacing: 0.05em;
        color: $red400;
        text-transform: uppercase;

        @media screen and (min-width: $grid-medium-breakpoint) {
            font-size: #{$font-size-sm * 1.25};
            line-height: 17px;
        }
    }
    &--fixed &__tag {
        transition: color 1s ease;
        color: $white400;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
        max-width: $universal-medium-container;
        margin: auto;
        flex-flow: row wrap;
        justify-content: space-between;
    }

}