.calendar {
  font: $font-size-xs $font-RussoOne;
  position: relative;
  width: 200px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: $black400;
}

.calendar-block {
  @extend %col-sm-12;
  margin: auto;
  cursor: pointer;

  &-panel {
    @extend %col-sm-12;
  }

  &-date-panel{
    @extend %row;
    justify-content: center;
  }

  &-range-middle {
    display: none;
  }

  &-range-part {
    @extend %col-sm-12;
    @extend %col-md-5;

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding: 0 #{$universal-padding * 2};
    }
  }

  &-range-left {
    padding-bottom: #{$universal-padding * 2};

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding-bottom: 0;
    }

  }

  &-header {
    color: $black300;
    border-bottom: 1px solid $azure400;
  }

  &-header > div{
    @extend %row;
    justify-content: space-between;
    align-items: center;
    padding: #{$universal-padding} 0;
  }

  &-prev-year-btn:hover, &-prev-month-btn:hover, &-next-month-btn:hover, &-next-year-btn:hover,
  &-year-panel-prev-decade-btn:hover, &-year-panel-next-decade-btn:hover {
    color: $red400;
  }

  &-prev-year-btn, &-prev-month-btn, &-next-month-btn, &-next-year-btn,
  &-year-panel-prev-decade-btn, &-year-panel-next-decade-btn {
      position: relative;
      display: inline-block;
      width: $font-size-xs;
      height: $font-size-xs;
  }

  &-prev-year-btn, &-prev-month-btn,
  &-year-panel-prev-decade-btn,
  &-month-panel-prev-year-btn,
  &-decade-panel-prev-century-btn {
    transform: rotate(-45deg);
  }

  &-next-month-btn, &-next-year-btn,
  &-year-panel-next-decade-btn,
  &-month-panel-next-year-btn,
  &-decade-panel-next-century-btn {
    transform: rotate(135deg);
  }

  &-prev-year-btn, &-next-year-btn,
  &-year-panel-prev-decade-btn, &-year-panel-next-decade-btn, 
  &-month-panel-prev-year-btn, &-month-panel-next-year-btn,
  &-decade-panel-prev-century-btn, &-decade-panel-next-century-btn {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 0 solid;
        border-width: 1.5px 0 0 1.5px;
        content: "";
      }

      &:after {
        position: absolute;
        top: 4px;
        left: 4px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 0 solid;
        border-width: 1.5px 0 0 1.5px;
        content: "";
      }
  }

  &-prev-month-btn, &-next-month-btn {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      border: 0 solid;
      border-width: 1.5px 0 0 1.5px;
      content: "";
    }
  }

  &-year-panel > div, &-month-panel > div {
    @extend %row;
    @extend %col-sm-12;
    justify-content: space-around;
  }

  &-month-panel {
    &-year-select {
      &-arrow {
        display: none;
      }
    }
  }

  &-year-panel, &-month-panel, &-decade-panel {
    animation: AnimateCalendar .3s ease;
    border-top: 1px solid #A8DADC;

    &-header {
      @extend %row;
      @extend %col-sm-12;
      text-align: center;
      justify-content: space-between;
      align-items: center;
    }

    &-decade-select {
      @extend %col-sm-5;

      &-arrow {
        display: none;
      }
    }

    &-body {
      @extend %col-sm-12;
    }

    &-cell {
      text-align: center;

      &:hover {
        background-color: $white300;
        color: $black400;
      }
    }

    &-table {
      width: 100%;
      text-align: center;

      & td, & th {
        width: auto;
        height: 30px;
      }
    }

    &-next-decade-cell, &-last-decade-cell, &-last-century-cell, &-next-century-cell {
      color: $black200;
    }

    &-selected-cell {
      background-color: $blue400;
      color: $white300;
    }
  }

  &-my-select {
    @extend %row;
    @extend %col-sm-5;
    justify-content: space-around;
  }

  &-body{
    padding-top: #{$universal-padding * 2};
  }

  &-table {
    font: #{$font-size-sm * 1.1} $font-Roboto;
    width: 100%;

    & td, & th {
      width: 20px;
      height: 20px;
    }
  }

  &-column-header {
    text-align: center;
    @extend %text-600;
  }

  &-last-month-cell, &-next-month-btn-day {
    color: $black200;
  }

  &-cell {
    text-align: center;

    &:hover {
      background-color: $white300;
      color: $black400;
    }
  }

  &-selected-start-date, &-selected-end-date {
    background-color: $blue400;
    color: $white300;
  }

  &-in-range-cell {
    background-color: $cyan300;
  }
}

@keyframes AnimateCalendar {
  from {height: 0; opacity: 0;}
  50% {height: 50%; opacity: .5;}
  to {height: 100%; opacity: 1;}
}
