.calc-link {
  cursor: pointer;
  @extend %header_button;
  justify-content: flex-start;
  padding-left: #{$universal-padding * 4};
  z-index: 10;
  overflow: visible;

  & path{
    fill: $blue400;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    padding-left: #{$universal-padding};
  }

}

.header-wraper--imaged .calc-link path {
  fill: $white300;
}
