.news {
  @extend %row;

  @media screen and (min-width: $grid-medium-breakpoint) {
    display: grid;
    // grid-template-rows:  1fr 1fr 1fr; /* 3 строки */
    // grid-template-columns: minmax(450px, 1fr) 1fr;
    grid-template-areas: "item-0 item-1"
                         "item-0 item-2"
                         "item-3 item-3"
                         "item-3 item-3"
                         "item-4 item-6"
                         "item-5 item-6";
    grid-template-rows: repeat(6, 130px);
    grid-template-columns: minmax(450px, 1fr) 1fr;
  }

}
.news-item {
  @extend %row;
  padding: 0 #{$universal-padding * 2} #{$universal-padding * 4};

  &--imaged {
    position: relative;
    padding-bottom: #{$universal-padding * 6};
    @extend %col-sm-12;
    // @extend %col-md-6;

  }

  &__picture {
    @extend %col-sm-12;

    &--imaged {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -14.25%, rgba(0, 0, 0, 0.9) 61.45%);
    }
  }

  &__image {
    object-fit: cover;
    @extend %col-sm-12;
    min-height: 305px;
    margin: auto;
    display: block;
    width: 100%;

    &--imaged {
      opacity: .6;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      min-height: 105px;
      max-height: 215px;
    }
  }

  &__link {
    text-decoration: none;

    &--imaged {
      position: absolute;
      bottom: 35%;
      left: #{$universal-padding * 5};
      max-width: 60%;

      @media screen and (min-width: $grid-medium-breakpoint) {
        max-width: 70%;
      }
    }
  }

  &__title {
    font: bold #{$font-size-l} $font-Roboto;
    color: $black600;
    line-height: 20px;
    @extend %col-sm-12;
    margin: 0;
    padding: #{$universal-padding * 1} 0;
    position: relative;

    &--imaged {
      color: $white300;
    }

    &:not(&--imaged):after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25%;
      height: 1px;
      background: linear-gradient(90deg, #D80032 0%, #DCDCDC 100%);
    }
  }

  &__description {
    font: #{$font-size-sm * 1.1} $font-Roboto;
    color: $black600;
    line-height: 15px;
    @extend %col-sm-12;
    margin: 0;
    padding: #{$universal-padding * 1} 0;

    &--imaged {
      position: absolute;
      font-size: #{$font-size-m * 0.9};
      bottom: 20%;
      left: #{$universal-padding * 5};
      max-width: 50%;
      color: $white300;
    }
  }

  &-0 {
    grid-area: item-0;
    align-self: start;
  }
  &-1 {
    grid-area: item-1;
    align-self: start;
  }
  &-2 {
    grid-area: item-2;
    align-self: start;
  }

  &-1, &-2, &-4, &-5 {
    padding-bottom: #{$universal-padding * 1};
  }

  &-3 {
    grid-area: item-3;
    align-self: start;
  }

  &-4 {
    grid-area: item-4;
    align-self: start;
  }

  &-5 {
    grid-area: item-5;
    align-self: start;
  }

  &-6 {
    grid-area: item-6;
    align-self: start;
  }
}