.news {
  @extend %row;
  padding: 0 #{$universal-padding * 1.5};
  justify-content: space-between;

  // @media screen and (min-width: $grid-medium-breakpoint) {
  //   display: grid;
  //   // grid-template-rows:  1fr 1fr 1fr; /* 3 строки */
  //   // grid-template-columns: minmax(450px, 1fr) 1fr;
  //   grid-template-areas: "item-0 item-1"
  //                        "item-0 item-2"
  //                        "item-3 item-3"
  //                        "item-3 item-3"
  //                        "item-4 item-6"
  //                        "item-5 item-6";
  //   grid-template-rows: repeat(6, 130px);
  //   grid-template-columns: minmax(450px, 1fr) 1fr;
  // }

  &__calendar-wrap {
    @extend %row;
    align-items: center;
    width: 100%;
    margin-bottom: #{$universal-margin * 2};
  }
  &__calendar-text {
    margin: 0 #{$universal-margin * 2};

    @media screen and (min-width: $grid-medium-breakpoint) {
      margin-right: #{$universal-margin * 2};
    }
  }
  &__wrap {
    @extend %row;
    @extend %col-sm-12;
    align-items: center;
    justify-content: center;
    padding: #{$universal-padding * 2};
    min-width: 300px;
  }
}
.news-item {
  // float: left;
  @extend %row;
  padding: #{$universal-padding * 2.5};
  background: $grey500;
  box-shadow: 0px 0px 7px $grey600;
  border: 1px solid transparent;
  margin-bottom: #{$universal-margin * 2};
  @extend %col-sm-12;
  @extend %col-md-5;
  text-decoration: none;

  @media screen and (min-width: $grid-medium-breakpoint) {
    min-width: 350px;
  }

  @media screen and (min-width: $grid-large-breakpoint) {
    min-width: 520px;
  }

  &:hover,
  &:focus {
    border: 1px solid $active;
  }

  &--imaged {
    position: relative;
    padding: 0;
    // width: 100%;
    @extend %col-sm-12;
    @extend %col-md-12;
  }

  &__picture {
    @extend %col-sm-12;

    &--imaged {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.69) 63.82%);
    }
  }

  &__image {
    object-fit: cover;
    @extend %col-sm-12;
    min-height: 305px;
    margin: auto;
    display: block;
    width: 100%;

    &--imaged {
      opacity: 0.6;
    }

    @media screen and (min-width: $grid-medium-breakpoint) {
      min-height: 105px;
      max-height: 300px;
    }
  }

  &__link {
    text-decoration: none;

    &--imaged {
      position: absolute;
      bottom: 35%;
      left: #{$universal-padding * 5};
      max-width: 70%;

      @media screen and (min-width: $grid-medium-breakpoint) {
        max-width: 80%;
      }
    }
  }

  &__title {
    font: bold #{$font-size-m} $font-Roboto;
    color: $black600;
    line-height: $line-height-l;
    @extend %col-sm-12;
    margin: 0;
    padding-bottom: #{$universal-padding * 1.25};
    position: relative;

    &--imaged {
      color: $white300;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 50px;
      height: 2px;
      background: $white300;
    }

    &:not(&--imaged):after {
      background: $red600n;
    }
  }

  &__description {
    font: $font-size-sm $font-Roboto;
    color: $black600;
    line-height: 14px;
    @extend %col-sm-12;
    margin: 0;
    padding: #{$universal-padding * 1.5} 0;

    &--imaged {
      position: absolute;
      font-size: #{$font-size-m * 0.9};
      bottom: 20%;
      left: #{$universal-padding * 5};
      max-width: 50%;
      color: $white300;
    }
  }

  &__date {
    font-family: $font-Roboto;
    font-weight: bold;
    font-size: $font-size-xs;
    line-height: $line-height-ln;
    text-align: right;
    text-transform: uppercase;
    color: $red600n;
    width: 100%;

    &--imaged {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: $black100;
    }
  }

  // &-0 {
  //   grid-area: item-0;
  //   align-self: start;
  // }
  // &-1 {
  //   grid-area: item-1;
  //   align-self: start;
  // }
  // &-2 {
  //   grid-area: item-2;
  //   align-self: start;
  // }

  // &-1,
  // &-2,
  // &-4,
  // &-5 {
  //   padding-bottom: #{$universal-padding * 1};
  // }

  // &-3 {
  //   grid-area: item-3;
  //   align-self: start;
  // }

  // &-4 {
  //   grid-area: item-4;
  //   align-self: start;
  // }

  // &-5 {
  //   grid-area: item-5;
  //   align-self: start;
  // }

  // &-6 {
  //   grid-area: item-6;
  //   align-self: start;
  // }
}
