@use '../../styles/settings/settings' as *;
@use '../../styles/gridLayout/layout' as *;

.images-main {
  @extend %row;
  position: relative;
  padding: #{$universal-padding * 10} 0 0;

  @media screen and (min-width: 640px) {
    justify-content: center;
  }

  @media screen and (min-width: $grid-medium-breakpoint) {
    max-width: $universal-medium-container;
    padding: #{$universal-padding * 20} 0 #{$universal-padding * 3};
    justify-content: flex-start;
  }

  &__item {
    width: clamp(180px, 70%, 290px);
    z-index: 1;

    @media screen and (min-width: $grid-medium-breakpoint) {
      width: clamp(180px, 70%, 340px);
    }

    @media screen and (min-width: $grid-large-breakpoint) {
      width: clamp(180px, 70%, 350px);
    }
  }

  &__item:nth-child(2n) {
    margin-left: clamp(10px, 13vw, 80px);
    background-color: $cyan400;

    @media screen and (min-width: $grid-medium-breakpoint) {
      margin-left: clamp(10px, 10vw, 80px);
    }

    @media screen and (min-width: $grid-large-breakpoint) {
      margin-left: clamp(10px, 10vw, 125px);
    }
  }

  &__item:first-child,
  &__item:nth-child(3n) {
    position: absolute;
  }

  &__item:first-child {
    top: #{$universal-padding * 5};
    right: clamp(180px, 50vw, 230px);
    background-color: $white400;

    @media screen and (min-width: $grid-medium-breakpoint) {
      right: clamp(390px, 55vw, 420px);
      top: #{$universal-padding * 10};
    }

    @media screen and (min-width: $grid-large-breakpoint) {
      right: clamp(390px, 55vw, 460px);
    }
  }

  &__item:nth-child(3n) {
    top: #{$universal-padding * 4};
    background-color: $red400;
    left: clamp(200px, 57vw, 350px);

    @media screen and (min-width: $grid-medium-breakpoint) {
      top: #{$universal-padding * 6};
      left: clamp(200px, 50vw, 340px);
    }

    @media screen and (min-width: $grid-large-breakpoint) {
      left: clamp(200px, 50vw, 375px);
    }
  }
}
