@use '../../styles/settings/settings' as *;
@use '../../styles/gridLayout/layout' as *;

.contacts {
  @extend %row;
  @extend %col-sm-11;
  // align-items: center;
  // justify-content: space-around;
  margin: 0 auto;

  &__element-first,
  &__element-second {
    @extend %col-sm-12;
    @extend %row;
    align-items: center;
    justify-content: flex-start;
  }

  // &__element-first {
  //   @extend %col-md-4;
  // }

  // &__element-second {
  //   @extend %col-md-8;
  // }

  &__wrapper {
    @extend %col-sm-12;
    // @extend %col-md-6;
    @extend %row;
    align-items: center;
    justify-content: flex-start;
    padding: #{$universal-padding * 0.5} 0;
  }

  &__links {
    font: #{$font-size-m} $font-Roboto;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: #{$universal-padding * 0.5} 0;
    color: $black500;
  }

  &__icon {
    fill: #ef233c;
    @extend %col-sm-2;
  }

  &__text {
    @extend %col-sm-9;
    padding-left: #{$universal-padding * 2};
  }
}

.organisation {
  @extend %row;
  @extend %col-sm-12;
  align-items: stretch;
  justify-content: space-between;

  &__map {
    @extend %row;
    @extend %col-sm-12;
    @extend %col-md-6;
    align-items: center;
    height: 280px;
    // padding: 0 #{$universal-padding * 0.5} #{$universal-padding * 6};
    // margin-right: #{$universal-margin * 2};
    background: url('/images/map.svg') center no-repeat;
    background-size: 200px;
    overflow: hidden;

    @media screen and (min-width: $grid-medium-breakpoint) {
      margin-right: 0;
    }

    // & > * {
    //   width: 100%;
    //   max-height: 190px;
    //   filter: grayscale(1);

    //   @media screen and (min-width: $grid-medium-breakpoint) {
    //     max-height: 280px;
    //   }
    // }

    & img {
      width: auto;
      // max-height: 250px;
      object-fit: cover;
      margin-left: -25%;
      display: block;
      filter: grayscale(1);

      @media screen and (min-width: $grid-medium-breakpoint) {
        margin-left: 0;
      }
    }
  }

  &__contacts {
    @extend %row;
    @extend %col-sm-12;
    @extend %col-md-5;
    justify-content: center;
    align-items: stretch;
    position: relative;
    margin-top: #{$universal-margin * 4};
    padding-left: #{$universal-padding * 2};

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: $red600n;
    }
    // @extend %column;
    // padding: 0 #{$universal-padding * 5};

    @media screen and (min-width: $grid-medium-breakpoint) {
      padding-left: #{$universal-padding * 6};
      margin-top: 0;
    }
  }
}
